body {
  background-color: #202020;
  font-family: 'Alata', sans-serif;
}

h1{
  font-family: 'Monoton', cursive;
}

.container {
  max-width: 800px;
}

h5, p {
  font-size: 9px;
  font-family: 'Press Start 2P', cursive;
  color: whitesmoke;
}

tr {
  line-height: .75rem;
}

td {
  color:whitesmoke;
}

table {
  padding: auto;
}

button {
  font-family: 'Alata', sans-serif;
}

.input-dollar-amount {
  background-color: whitesmoke;
  color: black;
}

.current-event-container {
  max-width: 500px;
}
